# exclude JS dependcies
node_modules

# exclucude compiled js
2021/day*/*.js
2021/shared/*.js

# GO Exclusions
# executables
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out